@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body {
 font-family:'Kaushan Script',
 cursive
}
.row {
width: inherit
}
.main-banner {
 position:relative
}
header {
 position:absolute;
 top:3%;
 margin: 0 auto;
 width:100%;
 color:#fff;

}
header ul {
    display: flex;
    flex-wrap: nowrap
}
.banner {
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -ms-background-size:cover;
 background-size:cover;
 text-align:center
}
.banner1 {
 background:url(../imgs/banner1.jpg) no-repeat;
 height:700px
}
.banner2 {
 background:url(../imgs/banner2.jpg) no-repeat;
 height:700px
}
.default {
 background:#112d514d;
 z-index:99999;
 transition:.5s ease;
 height:auto;
 padding-top:20px;
 position:absolute;
 top:10%;
 width:100%;
}
.scrolled {
 background:#000;
 position:fixed;
 top:0;
 /*! max-width: 95%; */
}

nav li {
    padding-left: 35px;
}

nav input[type=search] {
    width: 75%;
    position: absolute;
    top: 10px;
   
    left: 46px;
}
nav .search-hide {
    display: none;
}
.collapse.show {
    float: left;
}

/*
nav .nav-links {
 display:block;
 width:50%
}
.nav-links .links {
 display:flex;
 justify-content:space-evenly
}
.links .drop {
 margin-top:-7px
}*/
.nav-link {
 font-size:18px;
 padding-left:5px;
 font-weight:400;
 text-transform:uppercase;
 color:#fff;
} 
.text-banner {
 position:absolute;
 bottom:20%;
 left:26%;
 color:#fff;
 width:50%
}
.text-banner h3 {
 font-size:80px;
 font-weight:700;
 letter-spacing:3px
}



.taste {
 background:url(../imgs/bg-row.jpg) no-repeat;
 padding-bottom:40px;
 text-align:left;
 padding-top: 60px;
 background-size: cover;
}
.taste .main-text {
 position:relative
}
.taste .main-text h4 {
 font-size:31px;
 font-weight:700;
 text-align:left
}
.taste h4:after {
 content:"";
 position:absolute;
 top:82px;
 left:0;
 right:0;
 height:.5em;
 border-top:4px solid #ed4f4f;
 z-index:0;
 width:120px
}
.taste .main-text .text-des {
 margin-top:20px;
 width:100%
}

.order {
 background:#f9f9f9;
 padding:70px;
 border:1px solid #efefef;
 text-align:center;
 min-height:550px;
 height: auto;
}
.main-text {
 position:relative
}
.main-text h4 {
 font-size:30px;
 font-weight:700;
 text-align:center
}
h4:after {
 content:"";
 position:absolute;
 top:45%;
 left:44%;
 right:0;
 height:.5em;
 border-top:4px solid #ed4f4f;
 z-index:0;
 width:120px
}
.text-des {
 width:100%;
 margin: 25px auto;
 padding:20px 0
}
.img-content {
 text-align:center;
 cursor:pointer;
 margin-right: 20px;
 border: 1px solid #ddd;
 position: relative;
 padding-bottom: 10px;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: all;
 transition-property: all;
}
.img-content:hover {
    background: #ed4f4f;
}
.img-content:hover  .offer-text {
    display: block
}

.img-content .offer-text {
    position: absolute;
    background: #ed4f4f;
    color: #fff;
    z-index: 88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 7px;
    left: 0px;
    display: none;
}
.img-content .name {
    padding-top: 15px;
}
.steps {
 display:flex;
 justify-content:space-evenly;
 flex-wrap: wrap;
 margin-top:30px
}
.steps .fa-share {
    opacity: .5;
}
.step {
 width:300px
}
.steps .step h2 {
 font-size:20px
}
.our-products {
 background:url(../imgs/bg-row.jpg) no-repeat;
 background-position-y:100%;
 background-attachment:scroll;
 padding:70px;
 border:1px solid #efefef;
 text-align:center;
 height:auto
}
.our-products .products {
 display:flex;
 justify-content:space-evenly;
 flex-wrap: wrap;
}
.our-products .products .product {
 width:300px;
 height:auto;
 box-shadow: 10px 10px 11px #cfc1c296;
 margin-top: 5px;
}
.product .stars .fa-star {
    color: #ffe400
}
.product .price {
    color: #ed4f4f;
    font-size: 18px;

}
.statictics {
 background:url(../imgs/bg-blog.jpg) no-repeat;
 color:#fff;
 background-position-y:100%;
 padding:70px;
 border:1px solid #efefef;
 text-align:center;
 height:auto;
 background-size: cover;
}
.statistics {
 min-height:350px;
 font-family:Oswald,sans-serif;
 letter-spacing:1px;
 padding-top:30px;
 padding-bottom:30px
}
.statistics .item {
 margin-top:20px;
 padding-bottom:40px
}
.statistics span {
 font-size:60px;
 font-weight:700;
 display:block;
 color:#ed4f4f
}
.statistics p {
 font-size:20px
}
.statistics img {
 border:1px solid #fff;
 padding:40px;
 cursor:pointer
}
.statistics img:hover {
 border:5px solid #fff;
 
}
.Offer-today {
 text-align:center;
 height:auto;
 padding:70px
}
.Offer-today .offers .offer {
 display:flex;
 justify-content:space-between;
 text-align:left;
 margin-top:30px;
 /*! overflow: hidden; */
 box-shadow: 10px 10px 10px #d5d4d4b3;
}
.offer .img-offer {
    overflow: hidden;
    width: 86%;
}
.offer .offer-des {
 padding:25px 10px 20px 50px;
 display:flex;
 flex-wrap:wrap;
 align-content:space-between;
 height:auto;
 position: relative;
 overflow: visible;
}
.offer-des #title {
    position: absolute;
    right: 1%;
    top: 24px;
    color: #fff;
    z-index: 93;
    font-family: initial;
    font-size: 20px;
    font-weight: bold;
}
.offer-des h5::after {
 content: "";
width: 0;
height: 0px;
border-top: 30px solid #ed4f4f;
border-right: 94px solid #ed4f4f;
border-bottom: 30px solid #ed4f4f;
border-left: 30px solid transparent;
position: absolute;
right: -29px;
/*! z-index: 66; */
/*! overflow: visible; */
    top: 23px;
}
 .offer-des h5::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 21px solid #ed4f4f;
    position: absolute;
    top: 79px;
    transform: rotate(90deg);
    right: -26px;
    /*! overflow: visible; */
    }  
.offer-des h5 {
 width:60%;
 font-size:28px
}
.experience {
 background:url(../imgs/bg-action_2.jpg) no-repeat;
 height:324px;
 color:#fff;
 position:relative;
 background-size: cover;
}
.exper-text {
 position:absolute;
 right:10px;
 top:30px;
 display:flex;
 justify-content:space-between
}
.exper-text h5 {
 padding-right:30px;
 font-size:40px
}
.exper-text a {
 text-align:center;
 /*! line-height: 20px; *//*! height: 20px; */padding:10px 10px
}
.philade {
 display:flex;
 justify-content:center;
 flex-wrap: wrap;
}
.philade .philade-des {
 margin-top:55px;
 padding:0 20px;
 display:flex;
 flex-wrap:wrap;
 align-content:space-between
}
.philade-des .des-titl {
 display:block;
 background:#ed4f4f;
 color:#fff;
 padding:10px 20px;
 font-size:16px;
 text-transform:capitalize
}
.philade-des h5 {
 width:100%;
 text-align:left;
 font-size:40px;
 text-transform:uppercase
}
.our-team {
 background:url(../imgs/bg-row.jpg) no-repeat;
 background-position-y:100%;
 background-attachment:scroll;
 position:relative;
 padding:70px;
 min-height:700px;
 height: auto;
}
.teams {
 display:flex;
 justify-content:space-evenly;
 flex-wrap: wrap;
 margin-top:40px;
}
.teams .team {
 position:relative;
 width:300px;
 margin:0 20px;
 
}
.teams .team .des-team {
 width:100%;
 background:#fff;
 text-align:center;
 padding:20px;
 position:absolute;
 left:22px;
 bottom:-55px;
 box-shadow:10px 10px 10px #302e2e33
}
footer {
 background:url(../imgs/bg-footer.jpg) no-repeat;
 background-size:cover;
 height:auto;
 padding:60px 20px 40px 30px;
 color:#fff
}
.top-footer h2 {
 color:#ed4f4f
}
.top-footer p {
 color:#fff
}
.info {

    flex-wrap: nowrap;
    align-content: space-between;
}
.info p {
 width:60%;
 margin-top: 38px;
}
footer .bottom-footer {
 margin-top:70px
}
footer .contact {
 margin-left:-156px
}
footer .useful-links .main-text ul {
 position:absolute;
 top:100px
}
.bottom-footer h4 {
    text-align:left;
}
.bottom-footer h4:after {
    
    top:82px;
    left:0;
   
}
footer .contact .main-text ul {
 position:absolute;
 top:100px
}
footer .copy-right {
 text-align:center;
 margin: 100px auto;
 color:#fff
}
.copy-right a {
 color:#fff
}
a {
 text-decoration:none;
 text-transform:capitalize;
 color:#000
}
a:hover {
 text-decoration:none;
 color:#ed4f4f
}
ul {
 padding:0;
 margin:0;
 list-style:none
}
.Scroll-up {
 font-size:30px;
 color:#f8f8f8;
 background-color:#ed4f4f;
 width:40px;
 height:40px;
 text-align:center;
 border-radius:5px;
 position:fixed;
 right:20px;
 bottom:20px;
 z-index:9999;
 cursor:pointer;
 display:none
}
.loading-page {
 background-color:#f8f8f8;
 color:#fff;
 position:fixed;
 left:0;
 top:0;
 width:100%;
 height:100%;
 z-index:99999
}
.sk-cube-grid {
 width:100px;
 height:100px;
 margin: 0 auto;
 margin-top: 20%;
}
.sk-cube-grid .sk-cube {
 width:33%;
 height:33%;
 background-color:#ed4f4f;
 float:left;
 -webkit-animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
 animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}
.sk-cube-grid .sk-cube1 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
.sk-cube-grid .sk-cube2 {
 -webkit-animation-delay:.3s;
 animation-delay:.3s
}
.sk-cube-grid .sk-cube3 {
 -webkit-animation-delay:.4s;
 animation-delay:.4s
}
.sk-cube-grid .sk-cube4 {
 -webkit-animation-delay:.1s;
 animation-delay:.1s
}
.sk-cube-grid .sk-cube5 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
.sk-cube-grid .sk-cube6 {
 -webkit-animation-delay:.3s;
 animation-delay:.3s
}
.sk-cube-grid .sk-cube7 {
 -webkit-animation-delay:0s;
 animation-delay:0s
}
.sk-cube-grid .sk-cube8 {
 -webkit-animation-delay:.1s;
 animation-delay:.1s
}
.sk-cube-grid .sk-cube9 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
@-webkit-keyframes sk-cubeGridScaleDelay {
 0%,
 100%,
 70% {
  -webkit-transform:scale3D(1,1,1);
  transform:scale3D(1,1,1)
 }
 35% {
  -webkit-transform:scale3D(0,0,1);
  transform:scale3D(0,0,1)
 }
}
@keyframes sk-cubeGridScaleDelay {
 0%,
 100%,
 70% {
  -webkit-transform:scale3D(1,1,1);
  transform:scale3D(1,1,1)
 }
 35% {
  -webkit-transform:scale3D(0,0,1);
  transform:scale3D(0,0,1)
 }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  
.img-team:hover img {
    animation-name: example;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
}
@keyframes example {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}

/* ===================== Media Queries====================== */ 
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    header  {
        display: none;
    }
   
    .default{
        top: 0%;
    }
    
    .text-banner h3 {
        font-size: 30px;
       
    }
     h4:after {
      
       display: none
       
    }
    .steps i {
        transform: rotate(90deg);
        margin: 10px auto;
    } 
    footer .contact {
        margin-left:0;
       }
       footer .copy-right {
       margin: 40% auto;
       margin-bottom: 0;
       }
    
 }

/* small devices (landscape phones, 576px and less) */
@media (min-width: 575.99px) and (max-width:767.98px)  {
    header  {
        display: none;
    }
    nav ul {
        display: flex
    }
    .default{
        top: 0%;
    }
    .text-banner h3 {
        font-size: 30px;
       
    }
    .taste .main-text h4 {
        font-size:25px;
        font-weight:400;
        text-align: center
        
    }
    .taste h4:after {
      
        top:51px;
        left:178px;
       
    }
    h4:after {
      
        top:51px;
        left:170px;
       
    }
    .text-des {
        width:100%;
    }
    .steps i {
        display: none;
    }
    footer .copy-right {
        margin: 40% auto;
        margin-bottom: 0;
        }
     
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .text-banner h3 {
        font-size:57px;
    
    }

    nav li {
        padding-left: 17px;
    }
    .steps i {
        display: none;
    }
    footer .copy-right {
        margin: 40% auto;
        margin-bottom: 0;
        }
     
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .steps i {
       display: none;
   }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

